body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #191919;
}

h1, h2, h3, h4{
    text-transform: uppercase;
}

h3{
    color: #42AFFA;
}
  
article h2, h3, h4{
    text-transform: none;
    margin-bottom: 0 !important;
    margin-top: 0;
}

article h1{
    font-size: xx-large;
    margin: 0;

}
  
p, a, li{
    font-size: large;
}

a{
    color:#FF7CC9;
}
  
.button{
    color: #191919;
    padding: .5em;
    margin-right: .5em;
    margin-top: .5em;
    margin-bottom: .25em;
    border-radius: .25em;
    display: inline-block;
    text-decoration: none;
    background-color: #42fa9e;
}

.button-inactive{
    background-color: #191919;
    padding: .5em;
    margin-right: .5em;
    margin-top: .5em;
    margin-bottom: .25em;
    border-radius: .25em;
    display: inline-block;
    text-decoration: none;
    color: #42fa9e;
    opacity: .5;
}

.button-wrapper{
    margin-bottom: .5em
}
  
.wrapper{
    max-width: 1800px;
    margin: 0 auto;
}
/* Style the header */
header {
    text-align: end;
    font-size: xx-large;
    border: solid #FA7AC6;
    border-width: .2em 0 0 .2em;
    padding-right: 1em;
}
    
/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
}
    
/* Style the navigation menu */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: end;
}

.nav-content{
    position: sticky;
    top: 1em;
    border: solid #42fa9e;
    border-width: 0 .2em .2em 0;
    padding-right: 1em;
    padding-bottom: 1em;
}

figure{
    border: solid #42fa9e;
    border-width: 0 .2em .2em 0;
    margin: 0 0 2em 0;
    padding-top: 1em;
    padding-right: 1em;
}



.highlight{
    color: #42AFFA;
}

nav a{
    color: #FF7CC9;
    font-weight: bolder;
}

p{
    color: white;
}

i{
    opacity: .5;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding-left: 0 !important;
    
}
nav li{
    margin-bottom: .5em;
}

/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    /* background-color: #f1f1f1; */
    padding: 1em 2em;
}

footer{
    margin-top: 1em;
    color: white;
    text-align: end;
    padding-right: .5em;
}

  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    #title{
        text-align: end;
        margin-right: .5em;
    }
  }